.container {
 max-width: calc(1412px + 40px);
 margin: 0 auto;
 padding: 0 20px;
}

.container2 {
 max-width: calc(1331px + 40px);
 margin: 0 auto;
 padding: 0 20px;
}

.container3 {
 max-width: calc(1258px + 40px);
 margin: 0 auto;
 padding: 0 6%;
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 30px;
 @include breakpoint("md-max") {
position: relative;
top: 120px;
  }
@include breakpoint ("sm-max") {// Adjust this value as needed
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: auto;
    min-height: 350px;
    top: 0px;
  }
}

.container4 {
 max-width: calc(1145px + 40px);
 margin: 0 auto;
 padding: 0 20px;
}

.container5 {
 max-width: calc(960px + 40px);
 margin: 0 auto;
 padding: 0 20px;
}

.container6 {
 max-width: calc(1150px + 40px);
 margin: 0 auto;
 padding: 0 20px;
}

.container7 {
 max-width: calc(1040px + 40px);
 margin: 0 auto;
 padding: 0 20px;
}

.container8 {
 max-width: calc(1226px + 40px);
 margin: 0 auto;
 padding: 0 20px;
}